// подключение шрифтов
@include fontface(Helvetica, Helvetica, helvetica-regular, 400, normal);
@include fontface(Helvetica, Helvetica, helvetica-light, 300, normal);
@include fontface(Helvetica Bold, Helvetica, helvetica-bold, 700, normal);
@include fontface(Yeseva One, YesevaOne, yesevaone-regular, 400, normal);

// глобальные стили

html {
  box-sizing: border-box;
  @include zero-indent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-indent;
  min-width: 320px;
  font-family: $Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color_gray2;
}

img {
  max-width: 100%;
  height: auto;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  @media (min-width: $width-desktop-min) {
    max-width: $width-desktop-min;
    padding: 0 32px;
    margin: 0 auto;
  }

  @media (max-width: $width-mobile-max) {
    max-width: $width-mobile-max;
    padding: 0 15px;
    width: auto;
  }

  // @media (max-width: $width-mobile-max) {
  //   max-width: $width-mobile-max;
  //   padding: 0 15px;
  // }
}

h1 {
  font-family: $YesevaOne;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
}
