// шрифты

$YesevaOne: "Yeseva One", "Arial", sans-serif;
$Helvetica: "Helvetica", "Arial", sans-serif;

// цвета

// $color_dark: #202020;
// $color_darkgray: #4c4c4c;
// $color_gray: #4b4b4b;
// $color_lighgray: #bfbfbf;
// $color_silver: #c4c4c4;
// $color_smoke: #f5f5f5;
// $color_fff: #fff;

$color_dark: #202020;
$color_gray1: #4c4c4c;
$color_gray2: #4b4b4b; // text
$color_gray3: #bfbfbf;
$color_gray4: #c4c4c4;
$color_gray5: #f5f5f5;
$color_gray6: #e5e5e5;
$color_gray7: #dbdbdb;
$color_fff: #fff;


// размеры
// $width-mobile-max: 767px;
$width-tablet: 600px;
$width-mobile-max: 1023px;
$width-desktop-min: 1024px;
$width-desktop: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
