// шрифты
$YesevaOne: "Yeseva One", "Arial", sans-serif;
$Helvetica: "Helvetica", "Arial", sans-serif;

// цвета
$color_dark: #202020;
$color_gray1: #4c4c4c;
$color_gray2: #4b4b4b;
$color_gray3: #bfbfbf;
$color_gray4: #c4c4c4;
$color_gray5: #f5f5f5;
$color_gray6: #e5e5e5;
$color_gray7: #dbdbdb;
$color_gray8: #848484;
$color_fff: #fff;

// размеры
$width-tablet: 600px;
$width-mobile-max: 1023px;
$width-desktop-min: 1024px;
